@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  --padding-content: clamp(2rem, -0.8169rem + 12.0188vw, 10rem);
  --content-max-width: clamp(42.5rem, 11.0714rem + 65.4762vw, 70rem);
  width: 100%;
  max-width: calc(var(--content-max-width) + var(--padding-content) * 2);
  padding-inline: var(--padding-content);
  margin-inline: auto;
}

@media (max-width: 48rem) {
  .container {
    --content-max-width: clamp(19.4375rem, -2.5687rem + 93.8931vw, 42.5rem);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --grey-900: hsl(217, 19%, 35%);
  --grey-500: hsl(214, 17%, 51%);
  --grey-400: hsl(212, 23%, 69%);
  --grey-200: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --font-family-base: "Manrope";
  --font-size-m: 1.25rem;
  --font-size-s: 0.8125rem;
  --line-height-m: 140%;
  --line-height-s: 130%;
  --letter-spacing-l: 3.25px;
  --letter-spacing-m: 0.25px;
  --letter-spacing-s: 0.12%;
  --border-radius-card: 0.625rem;
  --shadow-card: 0 2.5rem 2.5rem -0.625rem rgba(201, 213, 225, 0.5);
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: var(--line-height-m);
  letter-spacing: var(--letter-spacing-s);
  color: var(--grey-500);
  background-color: var(--grey-200);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-inline: clamp(1.5rem, -1.8397rem + 14.2494vw, 5rem);
}

.preview {
  max-width: 45.625rem;
  display: flex;
  background-color: var(--white);
  border-radius: var(--border-radius-card);
  box-shadow: var(--shadow-card);
}
.preview__img {
  width: 285px;
  height: auto;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-card);
  border-bottom-left-radius: var(--border-radius-card);
}
.preview__info {
  display: flex;
  flex-direction: column;
  padding-block: 1.875rem;
  padding-inline: 2.5rem;
  gap: 1.5rem;
}
.preview__title {
  font-size: var(--font-size-m);
  font-weight: 700;
  line-height: var(--line-height-s);
  text-wrap: wrap;
  letter-spacing: var(--letter-spacing-m);
  color: var(--grey-900);
}
.preview__share-block {
  position: relative;
  margin-left: auto;
}
.preview__share-block .share-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -80px;
  left: -108px;
  position: absolute;
  width: 15.5rem;
  height: 3.4375rem;
  gap: 1rem;
  background-color: var(--grey-900);
  border-radius: var(--border-radius-card);
}
.preview__share-block .share-panel__triangle {
  position: absolute;
  top: 55px;
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 0.75rem solid var(--grey-900);
}
.preview__share-block .share-panel__text {
  padding-inline-end: 0.5rem;
  letter-spacing: var(--letter-spacing-l);
  text-transform: uppercase;
  color: var(--grey-400);
}
.preview__share-block .share-panel__share-button {
  background: none;
  border: none;
  cursor: pointer;
}
.preview__share-block .share-panel__social-wrapper {
  display: flex;
  gap: 1rem;
}
.preview__person {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.preview__person-img {
  border-radius: 50%;
}
.preview__person-name {
  font-weight: 700;
  color: var(--grey-900);
}
.preview__person-share {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--grey-200);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 48rem) {
  .offset-share-panel {
    top: 0.625rem;
  }
  .preview {
    position: relative;
    flex-direction: column;
    overflow: hidden;
  }
  .preview__share-block {
    position: static;
  }
  .preview .share-panel {
    left: 0;
    top: calc(100% - 4.75rem);
    height: 4.75rem;
    width: 100%;
    padding-inline: 1.875rem;
    justify-content: center;
    border-radius: 0px;
  }
  .preview__img {
    width: 100%;
    max-height: 12.5rem;
    border-radius: 0px;
  }
  .preview__info {
    padding-inline: clamp(1.875rem, 1.7557rem + 0.5089vw, 2rem);
  }
}
